<!-- Footer Area Start -->
<footer class="main-footer bg-blue text-white pt-75">
  <div class="container">
    <div class="row justify-content-between">
      <div class="col-lg-3 col-sm-4">
        <div class="footer-widget about-widget">
          <h5 class="footer-title">Sobre Nós</h5>
          <p>
            Sit amet consectetur adipiscin seeiusmod tempor incididunt ut
            dolore magna aliqu asusp disse ultrices gravida commodo
          </p>
          <h5 class="pt-5">Redes Sociais</h5>
          <div class="social-style-one">
            <a href="#"><i class="fab fa-whatsapp"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <div class="footer-widget menu-widget">
          <h5 class="footer-title">Cursos</h5>
          <ul>
            <li><a href="course-details.html">Combate às Drogas</a></li>
            <li>
              <a href="course-details.html">Combate ao Sedentarismo</a>
            </li>
            <li>
              <a href="course-details.html">Táticas de Memorização</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4">
        <div class="footer-widget menu-widget">
          <h5 class="footer-title">Links</h5>
          <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="servicos.html">Serviços</a></li>
            <li><a href="about.html">Sobre</a></li>
            <li><a href="#">CEO</a></li>
            <li><a href="blog.html">Blog</a></li>
            <li><a href="shop.html">Loja</a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="row">
          <div class="col-sm-6">
            <div class="footer-widget contact-info-widget">
              <h5 class="footer-title">Entrar em Contato</h5>
              <ul>
                <li>
                  <i class="fas fa-map-marker-alt"></i> Rua São Pedro, 709
                  - Todos Os Santos, Montes Claros - MG
                </li>
                <li>
                  <i class="far fa-envelope"></i>
                  <a href="mailto:seuemail@gmail.com"
                          >seuemail@gmail.com</a
                        >
                </li>
                <li>
                  <i class="fas fa-phone"></i>
                  <a href="callto:+5538999999999">+55 (38) 99999-9999</a>
                </li>
                <li>
                  <i class="far fa-clock"></i> Segunda - Sexta,<br />
                  8:00 - 17:00
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="footer-widget video-widget">
              <p>Pequeno Vídeo Falando Algo</p>
              <div class="video-widget overlay my-20">
                <%= image_tag "footer/video.jpg", alt:"Video" %>
                <a
                        href="https://www.youtube.com/watch?v=9Y7ma241N8k"
                        class="mfp-iframe video-play"
                        ><i class="fas fa-play"></i
                      ></a>
              </div>
              <a href="about.html" class="read-more"
                      >Ver Mais <i class="fas fa-arrow-right"></i
                    ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-area bg-dark-blue rel">
    <div class="container">
      <div class="copyright-inner">
        <p>
          © 2023.
          <a href="https://www.fswebsite.net" target="_blank">FSWeb</a> |
          Todos os Direitos Reservados.
        </p>
        <ul class="footer-menu">
          <li><a href="servicos.html">Serviços</a></li>
          <li><a href="about.html">A Empresa</a></li>
          <li><a href="contact.html">Enviar Mensagem</a></li>
        </ul>
      </div>
    </div>
    <!-- Scroll Top Button -->
    <button class="scroll-top scroll-to-target" data-target="html">
      <span class="fas fa-angle-double-up"></span>
    </button>
  </div>
</footer>
<!-- Footer Area End -->
