<section class="margin-top-form container text-center">
  <h4><%= link_to "Criar Post", new_post_path, class: "btn btn-secondary btn-lg" %></h4>
  <h4><%= link_to "Criar Produto", new_produto_path, class: "btn btn-secondary btn-lg" %></h4>
</section>
