.mais-noticias {
  color: #e9eaeb;
}

.margin-top-form {
  margin-top: 6em !important;
}

.form-login {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .botao-login {
    border: 2px solid black;
  }
}

.ajeito-post {
  max-height: 460px;
  overflow: hidden;
  word-wrap: break-word;
}

.display-flex-lg {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.descricao-post {
  max-height: 70px;
  overflow: hidden;
  word-break: break-all;
}

.cart-btn {
  text-align: center;
}

.excluir {
  text-decoration: underline;
  color: #ff0000;
}

.categoria-item {
  cursor: pointer;
  transition: ease .4s all;

  &:hover {
    color: #00cc83;
  }
}

@media (max-width: 991px) {
  .botao-admin {
    display: none;
  }
}

.editar {
  color: rgb(183, 183, 23);
  text-decoration: underline;
}

.tab-pane.active.show#details p, .post-text {
  word-wrap: break-word;
}

.lg-cover {
  object-fit: cover;
}
