.mais-noticias {
  color: #e9eaeb;
}

.margin-top-form {
  margin-top: 6em !important;
}

.form-login {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  .botao-login {
    border: 2px solid black;
  }
}

.ajeito-post {
  max-height: 460px;
  overflow: hidden;
  word-wrap: break-word;
}
